[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coala = "*"
coala-bears = "*"
black = "*"
autopep8 = "*"

[packages]
astpath = "*"
click = "*"
networkx = "*"
numpy = "*"
pandas = "*"
plotly = "*"
parse = "*"
prettyprinter = "*"
thoth-lab = "*"
thoth-analyzer = "*"
thoth-storages = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
